.container{
    display: flex;
    border: solid 3px chocolate;
    height: 380px;
    width: 350px;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.box{
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin: 8px;
}